/* colours used in original pallette:
pastel purple = #d2d0e7
pastel teal = #d9f0f1
pastel pink = #fce6f0
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans+Condensed:wght@300&display=swap');

html, body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #222
}


@media (min-width: 768px) {
  #navbarResponsive {
    display: block;
  }
}


.navbar-nav {
    padding-right: 20px;
}

.nav-item {
    padding-right: 15px;
}
    
.nav-item a {
    font-size: 2em;
    color: #222;  
    padding-right: 50px;
}

.nav-link a {
    font-size: 2em;
    color: #222; 
}

#backtotop {
height: 65px;
    width: 65px;
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(0,0,0,0.35); 
    color: white;
    cursor: pointer; 
    padding-bottom: 20px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    border-radius: 50%; 
    font-size: 2em; 
}

#backtotop:hover {
  background-color: #555;
}
        
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.welcome {
    width: 100%;
    padding: 2rem; 
}

.products1 {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 1.25rem;
}

.products1 h3 {
    font-size: 2rem;
}

#shopcontainer {
    /*need to keep this so btn works*/
}

.products2 {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.25rem;
}

.products2 h3 {
    font-size: 2rem;
}

#aboutcontainer {
    /*need to keep this so btn works*/
}

.about {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-size: 1.25rem;

}

.aboutimg {
    padding-top: 8rem;
}


.special {
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
    padding-top: 2rem;

}


.ingredients {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    font-size: 1.25rem;

}
    
#contactcontainer {
    /*need to keep this so btn works*/
}

.contact {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    padding-bottom: 2rem

}


.contactbox {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    padding-bottom: 2rem

}


input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #222;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
}

input[type=submit] {
    background-color: white;
    color: black;
    border: 1px solid #222;
    padding: 12px 20px;
    cursor: pointer;
}   


input[type=submit]:hover {
    background-color: #222;
    color: white;
    border: 1px solid #fce6f0;
}





.footer {
    background-color: #222; 
    color: white;
    width: 100%;
    margin: none;
    font-size: 1.25rem;
    padding-top: 2rem;
    
}

    
.divider {
    border-color: white;
    width: 90%;
}


.social a {
    font-size: 4rem;
    padding: 2rem;
}


.fa-facebook {
    color: #fce6f0;
}


.fa-twitter {
    color: #fce6f0;
}

.fa-instagram {
    color: #fce6f0;
}




/*---Media Queries --*/
@media (max-width: 992px) {
  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
 
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








